[Desktop Entry]
Type=Application
Name=WS Tracker
Comment=Time tracking for Kimai in the system tray
Comment[pl]=Mierzenie czasu w Kimai z tacki systemowej
Exec=ws-tracker-tray
Icon=pl.websystems.WsTrackerTray
Terminal=false
Categories=Office;ProjectManagement;
Keywords=Kimai;time;tracking;timesheet;czas;
StartupNotify=false
X-KDE-StartupNotify=false
