[Desktop Entry]
Type=Application
Name=DK Tracker
Comment=Time tracking for Kimai in the system tray
Comment[pl]=Mierzenie czasu w Kimai z tacki systemowej
Exec=dk-tracker
Icon=io.github.dragonking026.DK-Tracker-Linux
Terminal=false
Categories=Office;ProjectManagement;
Keywords=Kimai;time;tracking;timesheet;czas;
StartupNotify=false
X-KDE-StartupNotify=false
